/* centralizar os botoes da home */
.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btnHome {
    margin-bottom: 40px; 
}