/* centralizar os botoes da home */
.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btnHome {
    margin-bottom: 40px;
}

.form-filtro {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.form-filtro .input-group {
    max-width: 600px;
    width: 100%;
}

.form-filtro input {
    max-width: 100%;
}

.container-ouvidoria {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    border: 2px solid #004080;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h4 {
    text-align: center;
    font-weight: bold;
}

.titulo-principal {
    color: #002b80;
    margin-bottom: 10px;
}

.info-topo {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    margin-top: 10px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
}


textarea {
    resize: none;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-custom {
    min-width: 130px;
    font-weight: 600;
}

.linha {
    border-bottom: 2px solid #004080;
    margin: 10px 0 20px 0;
}

.dados-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Exemplo de CSS para centralizar e garantir largura */
.observacoes-container {
    max-width: 800px; /* Limita a largura para centralizar */
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; /* Adiciona padding lateral para telas menores */
}

.titulo-secundario {
    margin-bottom: 10px;
    font-weight: 600;
}