<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/headPrincipal :: headBase}"></head>

<body>

    <div class="centralizar">
        <a class="btn btnHome btn-primary btn-lg">CONSULTA DE OCORRENCIAS</a>
        <a class="btn btnHome btn-primary btn-lg">CONSULTAR DADOS DE ANIMAIS COM CHIP</a>
        <a class="btn btnHome btn-primary btn-lg">BUSCAR</a>
        <a class="btn btnHome btn-dark btn-lg">LISTA DE EXCLUSÃO</a>
        <a th:href="@{/}" class="btn btnHome btn-success btn-lg">VOLTAR</a>
    </div>

</body>

</html>