<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/headPrincipal :: headBase}"></head>

<body>
    <div class="container-ouvidoria" th:object="${denunciante}">
        <h4 class="titulo-principal">DENUNCIANTE</h4>
        <h2>INFORMAÇÕES DO DENUNCIANTE</h2>
        <div class="linha"></div>

        <!-- A tag form agora está corretamente posicionada -->
        <form th:action="@{/listaExclusao/adicionarLista}" method="post" th:object="${denunciante}">
            <div class="dados-grid">
                <div>
                    <p><b>CPF:</b> <span th:text="*{cpf}"></span></p>
                </div>

                <div>
                    <p><b>Nome:</b> <span th:text="*{nome}"></span></p>
                </div>

                <div>
                    <p><b>Telefone:</b> <span th:text="*{telefone}"></span></p>
                </div>

                <!-- Campos de endereço comentados, caso precise deles, basta descomentar -->
                <!--
                <div>
                    <p><b>Endereço:</b> <span th:text="*{endereco.logradouro}"></span></p>
                </div>

                <div>
                    <p><b>Bairro:</b> <span th:text="*{endereco.bairro}"></span></p>
                </div>

                <div>
                    <p><b>Ponto de Referência:</b> <span th:text="*{endereco.ponto_de_referencia}"></span></p>
                </div>
                -->
                <div>
                    <input type="hidden" name="listaExclusao" id="listaExclusao" value="1">
                    <input type="hidden" name="idDenunciante" id="idDenunciante" th:value="*{id_denunciante}">
                </div>
            </div>

            <div class="botoes mt-4">
                <a th:href="@{/listaExclusao/buscar}" class="btn btn-primary btn-custom">VOLTAR</a>

                <button type="submit" id="enviar" class="btn btn-dark btn-custom">LISTA DE EXCLUSÃO</button>
            </div>
        </form>
    </div>
</body>

</html>