<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{fragments/headPrincipal :: headBase}"></head>

    <body>

        <div class="centralizar">
            <a th:href="@{/ficha/criar}" class="btn btnHome btn-danger btn-lg">ABERTURA DE OCORRÊNCIA</a>
            <a th:href="@{/ouvidoria/protocolos}" class="btn btnHome btn-warning btn-lg">CONSULTAR PROTOCOLOS</a>
            <a class="btn btnHome btn-warning btn-lg">OCORRÊNCIAS ARQUIVADAS</a>
            <a th:href="@{/}" class="btn btnHome btn-success btn-lg">VOLTAR</a>
        </div>
        
    </body>

</html>